cairocffi==0.7.2
CairoSVG==1.0.20
cffi==1.6.0
cssselect==0.9.1
Django==1.8.5
django-endless-pagination==2.0
django-pure-pagination==0.3.0
django-suit==0.2.18
django-summernote==0.8.2
html5lib==0.9999999
lxml==3.6.0
Pillow==3.2.0
pisa==3.0.33
pycparser==2.14
pyPdf==1.13
PyPDF2==1.25.1
Pyphen==0.9.4
reportlab==3.3.0
six==1.10.0
tinycss==0.3
WeasyPrint==0.27
xhtml2pdf==0.0.6
