{% extends 'base/base.html' %}
{% load endless %}
{% load atividades_extra %}


{% block titlepage %}
Projeto
{% endblock %}

{% block cabecalho %}
    {% include 'home/cabecalho.html' %}
{% endblock %}

{% block precorpo %}
	<div class="container text-center" style="padding-top:25px; padding-bottom:25px; color:#333; font-size:32px; font-family: 'Prototype">
		Projetos
    </div>
{% endblock %}

{% block corpo %}

<div class="container" style="color:#111; padding-bottom:30px;">
	<div class="medium-11 large-10 columns small-centered minicurso_antigo" >

			<div class="row" style=" padding:30px;">
				<div class="small-12 columns">
					<div class="small-12 columns minicurso_antigo" style="padding-bottom:16px; font-size:18px; font-family:'Trebuchet MS'">
						<div class="row m_titulo" style="font-size:34px;">
							<div class="small-12 columns prototype">
								{{projeto.tipo|tipomin}} - {{projeto.nome}}
							</div>
						</div>
						<div class="row">
							<hr class="linha bordaAzul">
						</div>
						<div class="row m_conteudo text-justify">
							{{projeto.descricao|safe}}
						</div>

						<div class="row">
							<div class="medium-12 columns">
								<img src="/media/img/icons/calendario.png" height="60" width="60" alt="" style="padding:5px;">
								{{projeto.data_inicial|date:"F/Y"}}
							</div>
						</div>
						<div class="row">
							{% if minicurso.hora_inicial and minicurso.hora_final %}
							<div class="small-5 columns">
								<img src="/media/img/icons/relogio.png" height="60" width="60" alt="" style="padding:5px;">
								{{minicurso.hora_inicial|date:"H:i"}} - {{minicurso.hora_final|date:"H:i"}}
							</div>
							{% endif %}
							{% if minicurso.local %}
							<div class="small-7 columns">
								<img src="/media/img/icons/place.png" height="60" width="60" alt="" style="padding:5px;">
								{{minicurso.local}}
							</div>
							{% endif %}
						</div>
						{% if projeto.integrantes %}
						<div class="row">
							<div class="medium-12 columns">
								<img src="/media/img/icons/people.png" height="60" width="60" alt="" style="padding:5px;">
								{{projeto.integrantes}}
							</div>
						</div>
						{% endif %}
						<br>
						<div class="row">
							<div class="small-12 columns">
								{{projeto.aviso|safe}}
							</div>
						</div>
						{% if projeto.data_final|minicurso_finalizado %}
						<br>
						<div class="row">
							<div class="small-12 columns">
								<img src="/media/img/icons/finished.png" height="60" width="60" alt="" style="padding:5px;">
								Projeto finalizado!!
							</div>
						</div>
						{% endif %}
						{% if projeto.certificado_disponivel %}
						<br>
						<div class="row">
							<div class="small-12 columns">
								<img src="/media/img/icons/certificate.png" height="60" width="60" alt="" style="padding:5px;">
								Os certificados estão disponíveis!!
							</div>
						</div>
						{% endif %}

						{% if projeto.inscricao_aberta %}
						<br>
						<div class="row">
							<div class="small-12 columns">
								<img src="/media/img/icons/success.png" height="60" width="60" alt="" style="padding:5px;">
								Inscrições abertas! <a href="/minicursos/#insc" class="hover_black">Faça seu cadastro</a>
							</div>
						</div>

						{% endif %}
					</div>
				</div>
			</div>

	</div>
</div>
{% endblock %}

{% block rodape %}
    {% include 'home/rodape.html' %}
{% endblock %}



