{% extends 'base/base2.html' %}

{% block titlepage %}
{% endblock %}

{% block cabecalho %}
    {% include 'home/cabecalho.html' %}
{% endblock %}

{% block precorpo %}
{% endblock %}

{% block corpo %}

<div class="container" style="padding-top:80px;">
    <div class="row">
        <div class="small-12 large-5 large-offset-1 columns" style="margin-top:60px; ">
            <h2 class="lemon" style="color:#444; font-size:46px;">
                Error 404
            </h2>
            <h3 class="lemon">Página não encontrada</h3>
        </div>
        <div class="small-12 large-6 columns text-center">
            <div class="row">
                <div class="small-12 columns">
                    <img src="/media/img/icons/deadlink.png" alt="">
                </div>
                <div class="small-12 columns" style="margin-top:10px;">
                    <h4 style='lemon'>It looks like you found a dead link!</h4>
                </div>
            </div>
        </div>
    </div>





</div>

{% endblock %}

