<div class="container" style="  color:#ccc ;">
    <div class="medium-11 large-10 columns small-centered" style="background-color:#333; margin-top:10px;  box-shadow:0px -5px 4px #333;">

        <div class="row text-center" style="padding-bottom:30px;">
            <a href="/minicursos"><div class="medium-6 large-4 columns atv">
                {% include 'atividades/minicursos.html' %}
            </div></a>
            <a href="/projetos"><div class="medium-6 large-4 columns atv">
                {% include 'atividades/atividades.html' %}
            </div></a>
            <a href="/certificados"><div class="large-4 columns atv">
                {% include 'atividades/certificados.html' %}
            </div></a>
        </div>
    </div>
</div>