<div class="container" style="height:80px; background-color:#222">
    <a href="/"><div class="small-12 medium-4 columns prototype" style="font-size:28px; line-height:76px; color:#ddd;">
        <img src="/media/img/pet_header.png" width="60" alt=""> Portal PET-CC
    </div></a>

    <div class="show-for-medium-up medium-8 columns text-right">
        <ul class="op_menu">
            <a href="/"><li>Portal PET-CC</li></a>
            <a href="/oportunidades"><li>Home</li></a>
            <a href="/oportunidades/lista"><li>Oportunidades</li></a>
            <a href="/oportunidades/sobre"><li>Sobre</li></a>

        </ul>
    </div>
</div>