<div class="reveal-modal" id="modLogin" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" style="color:#222;">
    hehe
</div>


<div class="container cabev" style="padding-top:15px; overflow:hidden;">
    <a href="index.php">
        <div class="small-6 medium-4 large-3 columns lgg small-centered medium-uncentered">
            <div class="row">
                <div class="small-8 large-12 columns">
                    <img id="img_logo" src="/media/img/pet_header.png" alt="" height="200" width="200" style="max-height:120px; max-width:160px;">
                </div>

            </div>
        </div>
    </a>

    <div class="medium-4 large-5 text-center columns" style="font-family: 'Prototype'; padding:0; font-size:30px; line-height:110px; color:#aaa">
        Portal do PET-CC
    </div>

    <div id="cab_left" class="medium-4 columns large-4" style="padding-top:10px;">
        <div class="row">
            <div class="medium-11 large-offset-3 large-9 columns show-for-medium-up ">
                <div class="row collapse rowicons">
                    <a href="https://www.facebook.com/petccufsm"><div class="medium-3 large-2 columns" style="background-image:url('/media/img/social/face.png'); opacity:0.2;">

                    </div></a>
                    <a href="https://twitter.com/pet_cc"><div class="medium-3 large-2 columns" style="background-image:url('/media/img/social/tt.png'); opacity:0.2;">

                    </div></a>
                    <a href="https://ufsm.br"><div class="medium-3 large-2 columns" style="background-image:url('/media/img/ufsmpb.png');">

                    </div></a>
                    <a href="https://www.facebook.com/grupospetufsm"><div class="medium-3 large-2 columns end" style="background-image:url('/media/img/pets.png'); opacity:0.5;">

                    </div></a>
                </div>
            </div>
        </div>

        <div class="row" style="padding-top:10px;">
            <div class="medium-11 large-9 columns show-for-medium-up" style="margin-left:6px;">
                <div class="row collapse" >
                    <div class="medium-3 columns">
                        <a href=""><span class="prefix" style="border-radius:5px 0 0 5px; background-color:#2268a2; border-color:#2268a2;">
                            Search
                        </span></a>
                    </div>

                    <div class="medium-9 large-9 columns">
                        <input type="text" class="button text-left" style="border-radius:0 5px 5px 0; width:100%;" placeholder="Pesquisar..">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="medium-9 large-7 columns text-right large-offset-5" style="margin-top:-10px; color:#444; padding-right:30px;">

            </div>
        </div>
    </div>
    </div>


<div class="container cabev_menu" style="background-color:#222; min-height:50px;">

    <div class="large-1 columns" style="height:55px; display:none;">
        <div id="logo_menor" style="height:100%; background-image: url('/media/img/pet_header.png'); background-repeat:no-repeat; background-size: auto 50px;">

        </div>
    </div>

    <div class="small-12  large-11 columns" style="padding:0; margin:0;">
        <div id='cssmenu' class="cssmenu">
            <ul>
               <li class="active"><a href='/'>Home</a></li>
               <li class='has-sub'><a href='#'>Atividades</a>
                  <ul>
                     <li><a href='/projetos'>Projetos</a>
                        <ul>
                           <li><a href='/projetos/pesquisa'>Pesquisa</a></li>
                           <li><a href='/projetos/ensino'>Ensino</a></li>
                           <li><a href='/projetos/extensao'>Extensão</a></li>
                        </ul>
                     </li>

                     <li class='has-sub'><a href='#'>Minicursos</a>
                        <ul>
                           <li><a href='index.php?pag=pg_minicursos.php'>Inscrição</a></li>
                        </ul>
                     </li>
                     <li><a href='index.php?pag=outras_atividades.php'>Outras atividades</a></li>
                     <li><a href='index.php?pag=certificados.php'>Certificados</a></li>

                  </ul>
               </li>
               <li><a href='/noticias'>Notícias</a></li>
                        <li class="has-sub"><a href='#'>ComInG</a>
                        <ul>
                            <li><a href='#">Sobre</a></li>
                            <li><a href='index.php?pag=chamada_trabalhos.php'>Chamada de Trabalhos</a></li>
                            <li><a href='index.php?pag=datas-importantes.php'>Datas Importantes</a></li>
                            <li><a href='index.php?pag=corpo-editorial.php'>Corpo Editorial</a></li>
                                                    <li><a href='#'>Edição Atual</a></li>
                                                    <li><a href='#'>Edições Anteriores</a></li>
                        </ul>
                   </li>
               <li class="has-sub"><a href='#'>Ciência da Computação</a>
                    <ul>
                        <li><a href='http://www.inf.ufsm.br/index' target="_blank">Informática UFSM</a></li>
                        <li><a href='http://site.ufsm.br/' target="_blank">Portal UFSM</a></li>
                        <li><a href='http://coral.ufsm.br/ct/' target="_blank">Centro de Tecnologia</a></li>
                        <li><a href='index.php?pag=sobrecurso.php'>O que é CC?</a></li>

                    </ul>
               </li>
               <li class="has-sub"><a href='#'>PET-CC</a>
                    <ul>
                        <li><a href='#'>O que é o PET?</a></li>
                        <li><a href='index.php?pag=sobrepet.php'>Sobre o PET-CC</a></li>
                        <li><a href='index.php?pag=sobrepet.php#integrantes'>Integrantes</a></li>
                        <li><a href='index.php?pag=documentos.php'>Documentos</a></li>
                    </ul>
               </li>
            </ul>
        </div>
    </div>
</div>

