<div class="container" style="  color:#111 ;  ">
	<div class="medium-11 large-10 columns small-centered" style="background-color:#eee; box-shadow:1px -5px 10px #333; padding-bottom:50px;">
		<div class="row">
			<div class="xlarge-8 columns" style="padding-top:30px;">

				<div class="row" style="">
					<div class="large-7 columns">
						<div class="row text-center" style="font-size:36px;">
							<div class="medium-6 columns" style="padding-top:40px; font-family:'hamb'">
								O que é o PET-CC?
							</div>

							<div class="medium-5 columns" style="margin-right:8%;">
								<div class="background b11" style="height:120px; width:100%; background-image:url('/media/img/pet_header.png');">
								</div>
							</div>
						</div>
						<div class="row" style="padding-top:20px;">
							<div class="small-11 columns text-justify">
								O PET Ciência da Computação é um dos grupos da UFSM do Programa de Ensino Tutorial, promovido pelo MEC.
								O PET-CC realiza atividades em três áreas principais: ensino, pesquisa e extensão, sendo
                                composto, atualmente, por 14 alunos e 1 tutor, todos participantes do curso de Ciência da Computação da Universidade Federal de Santa Maria. <a href="" style="color:#555"> Conheça mais ;)</a>
							</div>
						</div>
					</div>


					<div class="large-5 columns">
						<div class="row text-center" style="height:120px;">
							<div class="small-12 columns" style="font-size:38px; padding-top:40px; font-family:'hamb'">
								Informática UFSM
							</div>
						</div>

						<div class="row">
							<div class="small-12 columns small-centered text-justify" style="padding-top:0px;">
								A Informática da Universidade Federal de Santa Maria é uma federação de sub-unidades
                                engajadas com o ensino, pesquisa e extensão na área de Informática nesta instituição.
                                Os cursos de Ciência da Computação e Sistemas de Informações, bem como o Programa de Pós Graduação
                                em Informática da universidade fazem parte da Inf UFSM. Mais informações em <a style="color:#555"href="http://www.inf.ufsm.br">www.inf.ufsm.br</a>.

							</div>
						</div>
					</div>
				</div>

			</div>

			<!--<div class="xlarge-4 columns" style="padding-top:30px;">
			    <hr style="border: 1px solid #aaa">
				<div class="row text-center" style="font-size:30px;">
					Integrantes
				</div>


				<div class="row" style="padding-top:20px;">
					<a href="index.php?pag=sobrepet.php"><div class="small-12 medium-10 small-centered columns"  style="width:100%;background-color:#111; background-image:url('/media/img/grupo.jpg'); background-repeat:no-repeat; background-size:cover; height:200px; background-position: 0% 23%; border-radius:10px;">
						<div id="integr"></div>
					</div>
					</a>
				</div>
			</div>-->


		</div>
	</div>
</div>

<div class="container">
    <div class="medium-11 large-10 columns small-centered" style="background-color:#333; padding-bottom:60px; color:#eee">
        <div class="row">
            <div class="xlarge-4 columns" style="padding-top:30px;">
				<div class="row text-center" style="font-size:30px;">
					Integrantes
				</div>


				<div class="row" style="padding-top:20px;">
					<a href="index.php?pag=sobrepet.php"><div class="small-12 medium-10 small-centered columns"  style="width:100%;background-color:#111; background-image:url('/media/img/grupo.jpg'); background-repeat:no-repeat; background-size:cover; height:200px; background-position: 0% 23%; border-radius:10px;">
						<div id="integr"></div>
					</div>
					</a>
				</div>
			</div>
        </div>
    </div>
</div>