<div class="container" id="rodape" style="background-color:#222; min-height: 50px; color:#ccc; margin-top:50px;">
	<div class="row">
		<div class="small-12 medium-10 small-centered columns">
			<div class="row">
                    <div class="small-12 medium-4 columns" style="height:130px; background-image:url('/media/img/pet_header.png'); background-size:contain; background-position:center; background-repeat:no-repeat; margin-top:10px;">

				</div>

				<div class="small-12 medium-8 lemon columns">
					<div class="row">
						<div class="small-12 columns text-center prototype" style="color:#fff; padding-top:10px; margin-top:20px;">
							Programa de Educação Tutorial - Ciência da Computação<br>
							Universidade Federal de Santa Maria <br>
							Sala 340, Centro de Tecnologia, UFSM <br>
							<img src="/media/img/icons/Mail.png"  width="25" alt="" style="padding-right:5px;"><a href="mailto:pet-cc@googlegroups.com"><font style="color:#aaa">pet-cc@googlegroups.com</font></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>