{% extends 'base/base.html' %}

{% block titlepage %}
{% endblock %}

{% block cabecalho %}
    {% include 'home/cabecalho.html' %}
{% endblock %}

{% block precorpo %}
{% endblock %}

{% block corpo %}
<div class="container">
  <h2 class="pull-right">
    Error 404
  </h2>

  <h1>Página não encontrada</h1>

  <div class="">
      Desculpe, mas a página requisitada não pode ser encontrada.
      <br>

  </div>
</div>


{% endblock %}

{% block rodape %}
    {% include 'home/rodape.html' %}
{% endblock %}